:root {
  --text-color: #757575;
  --title-color: #212121;
  --accent-font-color: #ffffff;
  --accent-color: #2196f3;
  --background-dark: #2f303a;
  --background-light: #f5f4fa;
}
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.container {
  margin: 0 auto;
  border: 0px;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
body ul {
  list-style: none;
}
body a {
  text-decoration: none;
}
/*--HEADER STYLES--*/
/*--HEADER POSITIONING--*/
.header-container {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 25px;
}
.logo {
  margin-right: 93px;
  border: 0px;
  margin-bottom: -4px;
}
.menu-list:not( :last-child),
.contacts-list:not( :last-child) {
  margin-right: 50px;
}
.main-nav,
.main-menu,
.contacts-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*--HEADER STYLE--*/
.main-header,
.portfolio-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
/*--LOGO STYLE--*/
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38;
  letter-spacing: 0.03em;
}
.logo-blue {
  color: var(--accent-color);
}
.logo-black {
  color: #000000;
}
.logo-white {
  color: #ffffff;
}
/*--MAIN MENU STYLE--*/
.menu-link {
  color: var(--title-color);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
  cursor: pointer;
}
/*--CONTACTS STYLE--*/
.contacts-link {
  color: var(--text-color);
  margin-bottom: -4px;
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
  cursor: pointer;
}
/*--END OF HEADER STYLES--*/
/*--HERO SECTION STYLE--*/
.hero-section {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/images-hero/img-bgr-hero.jpg), linear-gradient(#c4c4c4, #c4c4c4);
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  color: var(--accent-font-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  max-width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.button-order {
  display: block;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--accent-font-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;  
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 1px solid transparent;
  margin-left: auto;
  margin-right: auto;
}

/*--FEATURES SECTION STYLE--*/
.features-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features-menu {
  display: flex;
  justify-content: space-between;
}
.features-list:not( :last-child) {
  margin-left: 30px;
}
.features-title {
  color: var(--title-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-align: left;
}
.features-text {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  max-width: 270px;
  text-align: left;
}
/*--OUR SERVICES SECTION STYLE--*/
.services-section {
  padding-bottom: 94px;
}
.services-list {
  display: flex;
  justify-content: space-between;
}
.section-title {
  color: var(--title-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
/*--OUR TEAM SECTION STYLE--*/
.team-section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--background-light);
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.team-description {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px
}
.team-list {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
}
.team-member {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-name {
  color: var(--title-color);
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
}
.team-text {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
/*--FOOTER STYLE--*/
.page-footer {
  background-color: var(--background-dark);
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 200px;
  padding-right: 200px;
}
.logo-footer {
  display: block;
  margin-bottom: 20px;
}
.contacts-link-footer {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
}
.contacts-linksemitransparent-footer {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
}
/*--PORTFOLIO PAGE STYLE--*/
.portfolio-header {
border-bottom: 1px solid #ECECEC;
}
.projects-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/*--FILTER STILE--*/
.projects-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;  
}
.filter-list:not( :last-child) {
  margin-right: 8px;
}
/*--FILTER BUTTON STYLE--*/
.filter-button {
  background-color: var(--background-light);
  color: var(--title-color);
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  padding-left: 22px;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  border-radius: 4px;  
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-color);
  color: var(--accent-font-color);
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding-left: 22px;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px #00000040;
}
/*--PROJECTS CARDS STYLE--*/
.projects-cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.projects-list {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
  
  }
.projects-text {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  background-color: #ffffff;
  border: 1px solid #EEEEEE;
}
.projects-name {
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.projects-type {
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
